---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import ComoFunciona from "../components/ComoFunciona.astro";
import Journey from "../components/Journey.astro";
import Temas from "../components/Temas.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---
<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Temas />
    <ComoFunciona />
    <Journey />
    <CTA />
    <Footer />
  </main>
</BaseLayout>
